/*  Stylesheet for _Modern Philosophy_ */
/*  modernphilosophy.scss */
/**/
/*  this stylesheet was made with SASS
/*  the original .scss file is available at
/*  http://uweb.ucsb.edu/~adunn/modernphilosophy/sass/modernphilosophy.scss /*
/**/
/*  This stylesheet may be used for any purpose whatever. */

// ==============
// SASS VARIABLES
// ==============
$base-width: 600px;
$base-text: 115%;
$base-line: 100%;
//
//
//$tablet-max-size: 800px;
$tablet-width: 600px;
$tablet-text: 150%;
$tablet-line: 100%;
//
//$phone-max-size: 350px;
$phone-width: 700px;
$phone-text: 200%;
$phone-line: 100%;
//
// mixin to adjust widths relative to media
@mixin query-width($width-mod: 0px) {
    width: $base-width - $width-mod;
    @if ($tablet-width - $width-mod) != $base-width {
      @media screen and (max-device-width: 800px) {
        width: $tablet-width - $width-mod;
        }
    }  
    @if ($phone-width - $width-mod) != $base-width {
      @media screen and (max-device-width: 350px) {
        width: $phone-width - $width-mod;
	}
    }
    @if (500px - $width-mod) != ($base-width - $width-mod) {
      @media screen and (max-width: 700px) {
        width: 500px - $width-mod;
	}
    }	  
    @if (400px - $width-mod) != ($base-width - $width-mod) {
      @media screen and (max-width: 525px) {
        width: 400px - $width-mod;
	}
    }
}
@mixin query-text($text-mod: 1.25) {
    font-size: $text-mod * $base-text;
    @if ($text-mod * $tablet-text) != ($text-mod * $base-text) {  
      @media screen and (max-device-width: 800px) {
        font-size: $text-mod * $tablet-text;
	}
    }
    @if ($text-mod * $phone-text) != ($text-mod * $base-text) {
      @media screen and (max-device-width: 350px) {
        font-size: $text-mod * $phone-text;
	}
    }
    // @if ($text-mod * $base-text) != $base-text {
    //   @media screen and (max-width: 700px) {
    //     font-size: $text-mod * $base-text;
    // 	}
    // }
    // @if ($text-mod * $base-text) != $base-text {
    //   @media screen and (max-width: 525px) {
    //     font-size: $text-mod * $base-text;
    // 	}
    // }*/
}
@mixin query-line($line-mod: 1) {
    line-height: $line-mod * $base-line;
    @if ($line-mod * $tablet-line) != ($line-mod * $base-line) {
      @media screen and (max-device-width: 800px) {
        line-height: $line-mod * $tablet-line;
	}
    }
    @if ($line-mod * $phone-line) != ($line-mod * $base-line) {
      @media screen and (max-device-width: 350px) {
        line-height: $line-mod * $phone-line;
	}
    }
//    @if ($line-mod * $base-line) != $base-line {
//      @media screen and (max-width: 700px) {
//        line-height: $line-mod * $base-line;
//	}
//    }
//    @if ($line-mod * $base-line) != $base-line {
//      @media screen and (max-width: 525px) {
//        line-height: $line-mod * $base-line;
//	}
//    }
}
//
/**/
/* ============= */
/* NORMALIZATION */
/* ============= */
/**/
/* this imported stylesheet ensures that everything is rendered
/* consistently across browsers. */

@import "normalize";
/* ============= */
/* END NORMALIZE */
/* ============= */
/**/
/************************/
/************************/
/**/
/* ============== */
/* GLOBAL  STYLES */
/* ============== */
/**/
/* these are the stylings for _Modern Philosophy_ HTML version.  this
/* stylesheet can be used for other HTML documents produced by pandoc,
/* but some of the stylings (the table elements) are designed
/* specifically for this HTML document. */
/**/
/* so that the table of contents (and other wide elements) are not
/* made too thin, the width of the content is not set in the body.
/* but `text-align: center` ensures that other elements that have a
/* `width` specified will be centered in the viewport. */
body {
  margin: 4em auto;
  text-align: center;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  @include query-width(0);
  @include query-text(1);
  @include query-line(1);
}

h1 {
    margin: 1.25em auto .5em auto;
    @include query-line(1);     
}

h2 {
    margin: 1.25em auto .5em auto;
    @include query-line(1.5);     
}

h3 {
    margin: 1.25em auto .5em auto;
    @include query-line(1.5);     
}

h4 {
    margin: 1.25em auto .5em auto;
    @include query-line(1.5);     
}

h5 {
    margin: 1.25em auto .5em auto;
    @include query-line(1.5);     
    @include query-text(1);
}

p {
    text-align: justify;
    margin: auto;
    @include query-line(1.25);     
}

/* the styling for `p + p` ensures that there is space between any two
/* paragraphs */

p + p {
    margin-top: 1em;
}

blockquote {
  p + p {
    margin-top: 1em;
      }
}

/* ===== */
/* LISTS */
/* ===== */
/**/
/* this set of stylings feels very blunt; the numbers are inexact and
/* I suspect there is a more elegant way of doing all this. */

ol,
ul,
dt,
dl {
  text-align: left;
  margin: .75em auto;
  @include query-line(1.25);
    li,
    li p {
        margin: 1em ($base-width / 60) auto auto;
          @media screen and (max-device-width: 800px) {
             margin: 1em ($tablet-width / 60) auto auto;
	      }
	}
}

dd {
  text-align: justify;
    p + p {
      margin-top: 1em;
	}
    li {
      margin-left: ($base-width / 10);
          @media screen and (max-device-width: 800px) {
             margin-left: ($tablet-width / 10);
	      }
	}
}
/**/
/* ====== */
/* TABLES */
/* ====== */
/**/
/* the tables produced by pandoc are difficult to style because the
/* `td` elements have inline styling.  depending on how the pandoc
/* tables are produced, the `td` elements will have `text-align:
/* right`, `left`, or `center`.  it's therefore up to the creator of
/* the markdown file to correctly align their table elements.  the
/* following styling is specifically designed to style Kant's table of
/* thesis and antitheses */
/**/
/* `margin: auto` and a width specification brings the table into the
/* center of the viewport. the `td` is for Kant's tables. */
table {
  margin: 1em auto auto auto;
  width: $base-width / 1.5;
    td {
      padding: .5em 1em .5em 0;
	}
}

/**/
/* ============ */
/* CLASS AND ID */
/* ============ */
/**/
/* these are stylings specific to different IDs and classes.  these
/* classes are used by all HTML documents made with pandoc. */
.title {
//    line-height: $base-line;
//      @media screen and (max-device-width: 800px) {
//         line-height: $tablet-width;
//         }
    margin-bottom: .375em;
}

.author,
.date {
    @include query-line(1.5);     
}

nav,
#TOC,
#TOC nav,
#TOC li {
  text-align: left;
  margin: auto;
  list-style-type: disc;
}
