/*  Stylesheet for _Modern Philosophy_ */
/*  modernphilosophy.scss */
/**/
/*  this stylesheet was produced with SASS
/*  the original .scss file is available at
/*  http://uweb.ucsb.edu/~adunn/modernphilosophy.scss /*
/**/
/*  This stylesheet may be used for any purpose whatever. */
/**/
/* ============= */
/* NORMALIZATION */
/* ============= */
/**/
/* this imported stylesheet ensures that everything is rendered
/* consistently across browsers. */
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* ==========
/* The quote styles don't work with pandoc's --smart mode */
/* ========== */
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* q {
/*     quotes: none;
/* }*/
/* 2 */
/* q:before,
/* q:after {
/*     content: '';
/*     content: none;
/* }*/
small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ============= */
/* END NORMALIZE */
/* ============= */
/**/
/************************/
/************************/
/**/
/* ============== */
/* GLOBAL  STYLES */
/* ============== */
/**/
/* these are the stylings for _Modern Philosophy_ HTML version.  this
/* stylesheet can be used for other HTML documents produced by pandoc,
/* but some of the stylings (the table elements) are designed
/* specifically for this HTML document. */
/**/
/* so that the table of contents (and other wide elements) are not
/* made too thin, the width of the content is not set in the body.
/* but `text-align: center` ensures that other elements that have a
/* `width` specified will be centered in the viewport. */
/**/
/**/
body {
  width: 600px;
  margin: 4em auto;
  text-align: center;
  font-size: 110%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 100%; }

h1 {
  margin: 1.25em auto .5em auto;
  line-height: 100%; }

h2 {
  margin: 1.25em auto .5em auto;
  line-height: 150%; }

h3 {
  margin: 1.25em auto .5em auto;
  line-height: 150%; }

h4 {
  margin: 1.25em auto .5em auto;
  line-height: 150%; }

h5 {
  margin: 1.25em auto .5em auto;
  font-size: 110%;
  line-height: 150%; }

p {
  text-align: justify;
  margin: auto;
  line-height: 125%; }

/* the styling for `p + p` ensures that there is space between any two
/* paragraphs */
p + p {
  margin-top: 1em; }

blockquote p + p {
  margin-top: 1em; }

/* ===== */
/* LISTS */
/* ===== */
/**/
/* this set of stylings feels very blunt; the numbers are inexact and
/* I suspect there is a more elegant way of doing all this. */
ol,
ul,
dt,
dl {
  text-align: left;
  margin: .75em auto;
  line-height: 125%; }
  ol li,
  ol li p,
  ul li,
  ul li p,
  dt li,
  dt li p,
  dl li,
  dl li p {
    margin: 1em 10px auto auto; }

dd {
  text-align: justify; }
  dd p + p {
    margin-top: 1em; }
  dd li {
    margin-left: 60px; }

/**/
/* ====== */
/* TABLES */
/* ====== */
/**/
/* the tables produced by pandoc are difficult to style because the
/* `td` elements have inline styling.  depending on how the pandoc
/* tables are produced, the `td` elements will have `text-align:
/* right`, `left`, or `center`.  it's therefore up to the creator of
/* the markdown file to correctly align their table elements.  the
/* following styling is specifically designed to style Kant's table of
/* thesis and antitheses */
/**/
/* `margin: auto` and a width specification brings the table into the
/* center of the viewport. the `td` is for Kant's tables. */
table {
  margin: 1em auto auto auto;
  width: 400px; }
  table td {
    padding: .5em 1em .5em 0; }

/**/
/* ============ */
/* CLASS AND ID */
/* ============ */
/**/
/* these are stylings specific to different IDs and classes.  these
/* classes are used by all HTML documents made with pandoc. */
.title {
  line-height: 100%;
  margin-bottom: .375em; }

.author,
.date {
  line-height: 150%; }

nav,
#TOC,
#TOC nav,
#TOC li {
  text-align: left;
  margin: auto;
  list-style-type: disc; }

/**/
/* ============= */
/* MEDIA QUERIES */
/* ============= */
/**/
/* these stylings apply only when the viewing media meets certain
/* conditions */
@media screen and (max-width: 650px) {
  body {
    width: 500px;
    margin: 4em auto;
    text-align: center;
    font-size: 110%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 100%; }

  h1 {
    margin: 1.25em auto .5em auto;
    line-height: 100%; }

  h2 {
    margin: 1.25em auto .5em auto;
    line-height: 150%; }

  h3 {
    margin: 1.25em auto .5em auto;
    line-height: 150%; }

  h4 {
    margin: 1.25em auto .5em auto;
    line-height: 150%; }

  h5 {
    margin: 1.25em auto .5em auto;
    font-size: 110%;
    line-height: 150%; }

  p {
    text-align: justify;
    margin: auto;
    line-height: 125%; }

  /* the styling for `p + p` ensures that there is space between any two
  /* paragraphs */
  p + p {
    margin-top: 1em; }

  blockquote p + p {
    margin-top: 1em; }

  /* ===== */
  /* LISTS */
  /* ===== */
  /**/
  /* this set of stylings feels very blunt; the numbers are inexact and
  /* I suspect there is a more elegant way of doing all this. */
  ol,
  ul,
  dt,
  dl {
    text-align: left;
    margin: .75em auto;
    line-height: 125%; }
    ol li, ol li p,
    ul li,
    ul li p,
    dt li,
    dt li p,
    dl li,
    dl li p {
      margin: 1em 8.333px auto auto; }

  dd {
    text-align: justify; }
    dd p + p {
      margin-top: 1em; }
    dd li {
      margin-left: 50px; }

  /**/
  /* ====== */
  /* TABLES */
  /* ====== */
  /**/
  /* the tables produced by pandoc are difficult to style because the
  /* `td` elements have inline styling.  depending on how the pandoc
  /* tables are produced, the `td` elements will have `text-align:
  /* right`, `left`, or `center`.  it's therefore up to the creator of
  /* the markdown file to correctly align their table elements.  the
  /* following styling is specifically designed to style Kant's table of
  /* thesis and antitheses */
  /**/
  /* `margin: auto` and a width specification brings the table into the
  /* center of the viewport. the `td` is for Kant's tables. */
  table {
    margin: 1em auto auto auto;
    width: 333.333px; }
    table td {
      padding: .5em 1em .5em 0; }

  /**/
  /* ============ */
  /* CLASS AND ID */
  /* ============ */
  /**/
  /* these are stylings specific to different IDs and classes.  these
  /* classes are used by all HTML documents made with pandoc. */
  .title {
    line-height: 100%;
    margin-bottom: .375em; }

  .author,
  .date {
    line-height: 150%; }

  nav,
  #TOC,
  #TOC nav,
  #TOC li {
    text-align: left;
    margin: auto;
    list-style-type: disc; } }
@media screen and (min-width: 1200px) {
  body {
    width: 700px;
    margin: 4em auto;
    text-align: center;
    font-size: 110%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 100%; }

  h1 {
    margin: 1.25em auto .5em auto;
    line-height: 100%; }

  h2 {
    margin: 1.25em auto .5em auto;
    line-height: 150%; }

  h3 {
    margin: 1.25em auto .5em auto;
    line-height: 150%; }

  h4 {
    margin: 1.25em auto .5em auto;
    line-height: 150%; }

  h5 {
    margin: 1.25em auto .5em auto;
    font-size: 110%;
    line-height: 150%; }

  p {
    text-align: justify;
    margin: auto;
    line-height: 125%; }

  /* the styling for `p + p` ensures that there is space between any two
  /* paragraphs */
  p + p {
    margin-top: 1em; }

  blockquote p + p {
    margin-top: 1em; }

  /* ===== */
  /* LISTS */
  /* ===== */
  /**/
  /* this set of stylings feels very blunt; the numbers are inexact and
  /* I suspect there is a more elegant way of doing all this. */
  ol,
  ul,
  dt,
  dl {
    text-align: left;
    margin: .75em auto;
    line-height: 125%; }
    ol li, ol li p,
    ul li,
    ul li p,
    dt li,
    dt li p,
    dl li,
    dl li p {
      margin: 1em 11.667px auto auto; }

  dd {
    text-align: justify; }
    dd p + p {
      margin-top: 1em; }
    dd li {
      margin-left: 70px; }

  /**/
  /* ====== */
  /* TABLES */
  /* ====== */
  /**/
  /* the tables produced by pandoc are difficult to style because the
  /* `td` elements have inline styling.  depending on how the pandoc
  /* tables are produced, the `td` elements will have `text-align:
  /* right`, `left`, or `center`.  it's therefore up to the creator of
  /* the markdown file to correctly align their table elements.  the
  /* following styling is specifically designed to style Kant's table of
  /* thesis and antitheses */
  /**/
  /* `margin: auto` and a width specification brings the table into the
  /* center of the viewport. the `td` is for Kant's tables. */
  table {
    margin: 1em auto auto auto;
    width: 466.667px; }
    table td {
      padding: .5em 1em .5em 0; }

  /**/
  /* ============ */
  /* CLASS AND ID */
  /* ============ */
  /**/
  /* these are stylings specific to different IDs and classes.  these
  /* classes are used by all HTML documents made with pandoc. */
  .title {
    line-height: 100%;
    margin-bottom: .375em; }

  .author,
  .date {
    line-height: 150%; }

  nav,
  #TOC,
  #TOC nav,
  #TOC li {
    text-align: left;
    margin: auto;
    list-style-type: disc; } }
